In [1]:
import numpy as np

In [4]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [23]:
while True:
    user_entry = int(input("Enter an number between 5 and 15: "))
    if user_entry >= 5 and user_entry <= 15:
        break

Enter an number between 5 and 15: 9

In [25]:
MyList = random_list(user_entry)
MyList

[22, 33, 40, 20, 23, 34, 35, 24, 43]

In [9]:
MySum = sum_random(MyList)
MySum

265

In [10]:
MyList2 = np.random.randint(10, 50, n)
MyList2

array([48, 35, 14, 13, 37, 32, 19, 19, 27, 47])

In [11]:
MySum2 = sum(MyList2)
MySum2

291